/* .container1{
    max-width: 1078px;
    margin: auto;
    width: 100%;
} */

.Start{
    position: absolute;
    color: white;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}

.Restart{
    position: absolute;
    color: white;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}

#parentDiv{
    max-width: 1078px;
    margin: auto;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-size: 14px;
}

#scoreContainer{
    position: absolute;
    z-index: 10;
    color: white;
    left: 10px;
    top: 10px;
    margin: 0;
    display: none;
}

#startScreen{
    
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('/img/startScreenBackground.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

#startButton{
    cursor: pointer; 
    position: relative; 
    display: inline-block;
}

#restartScreen{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('/img/startScreenBackground.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: none;
    align-items: center;
    justify-content: center;
}

#restartButton{
    cursor: pointer; 
    position: relative; 
    display: inline-block;
}
